/* ------------------------------------------------------------------------------
 *
 *  # Navbar
 *
 * ---------------------------------------------------------------------------- */
.navbar.navbar-inverse {background-color: #055D92; }
.navbar-brand > img {
	margin-top: 0;
	height: 26px;
}

/* ------------------------------------------------------------------------------
 *
 *  # Main WebApp
 *
 * ---------------------------------------------------------------------------- */
.app-panel {
	border: none;
}
.app-panel > .panel-heading + .panel-body {
	padding-top: 28px;
}
.app-panel>.panel-heading {
	background-color: #b9b9b9;
	border-color: #8c8c8c;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	height: 34px;
	padding: 3px 20px;
	color: #fff;
}
h2.list-heading {
	font-size:17px;
	margin-left:3px;
}

/* ------------------------------------------------------------------------------
 *
 *  # Footer
 *
 * ---------------------------------------------------------------------------- */

.footer {padding-left: 20px;}


/* ------------------------------------------------------------------------------
 *
 *  # Custom Theme Colors
 *
 * ---------------------------------------------------------------------------- */

.bg-blue-tdm {background-color: #055D92;}
.border-blue-tdm {border-color: #055D92;}
.text-blue-tdm {color: #055D92;}


/* ------------------------------------------------------------------------------
 *
 *  # Helpers
 *
 * ---------------------------------------------------------------------------- */
.margin-left-45 {
	margin-left: 45px;
}

@media (min-width: 769px) {
	/* Changed */
	.sidebar-xs .header-highlight .navbar-header .navbar-brand {
		background: url('/images/logo-small.png') no-repeat center center;
	}
}
.line-through {
	text-decoration: line-through;
}

[v-cloak] {
	display: none;
}