/* ------------------------------------------------------------------------------
 *
 *  # Layout
 *
 * ---------------------------------------------------------------------------- */
/*.content:first-child {*/
     /*padding: 0;*/
/*}*/

/* ------------------------------------------------------------------------------
 *
 *  # Navbar
 *
 * ---------------------------------------------------------------------------- */

.navbar-brand > img {
	margin-top: 0;
	height: 26px;
}


/* ------------------------------------------------------------------------------
 *
 *  # Sidebar
 *
 * ---------------------------------------------------------------------------- */

.navigation .navigation-header {
	color:#ffffff;
	font-size:14px;
	font-weight: 600;
	/*margin-bottom: 20px;*/
}
.navigation > li > a {
	color: #ffffff;
	font-weight: 400;
}
.navigation li a:focus {
	background-color: unset;
}
.sidebar-active { background-color: #4CAF50;}

.navigation > li > a:hover {
	background: none;
	cursor: default;
}
.navigation > li ul {
	background-color: #0277BD;
}
a.add-project {
	margin-top: -32px;
	margin-right: 6px;
}

/* ------------------------------------------------------------------------------
 *
 *  # Footer
 *
 * ---------------------------------------------------------------------------- */

.footer {padding-left: 20px;}


/* ------------------------------------------------------------------------------
 *
 *  # Custom Theme Colors
 *
 * ---------------------------------------------------------------------------- */

.bg-blue-tdm {background-color: #055D92;}
.border-blue-tdm {border-color: #055D92;}
.text-blue-tdm {color: #055D92;}


/* ------------------------------------------------------------------------------
 *
 *  # Task Form
 *
 * ---------------------------------------------------------------------------- */
i#task-complete {
	color: #055D92;
	font-size: 2.5em;
	margin-left: -55px;
}

i.icon-star-empty3, i.icon-star-full2 {
	color:green;
	font-size: 1.8em;
	line-height: 36px;
}
.form-control.input-group-facade {
	padding:0;
	width:auto;
}
.transparent-input {
	border:none;
	background: none;
	min-height: 33px;
}
#task-title {
	width:80%;
}
.task-next {
	cursor: pointer;
}
[v-cloak] {
	display: none;
}


/* ------------------------------------------------------------------------------
 *
 *  # Task List
 *
 * ---------------------------------------------------------------------------- */
h2.list-heading {
	margin-bottom: -40px;
}

.table-lg > tbody > tr > td.check-complete {
	padding: 15px 10px;
	vertical-align: top;
	line-height: 26px;
}
td.check-complete { width:40px;}
.check-complete > i {font-size: 1.3em;}
.table-lg > tbody > tr > td.task-title {padding: 17px 5px 5px; vertical-align: top;}

td.check-complete > .icon-checkbox-unchecked2 {
	cursor: pointer;
	color: #025f97;
}
.icon-checkbox-checked2.blue {
	color: #0277BD;
	cursor: pointer;
}
.table>tbody>tr>td.check {
	padding: 12px 2px;
	width: 20px;
}
span.project-edit.clickable {
	margin-left: 6px;
	font-size: .65em;
	vertical-align: super;
}
#context-tasks.table-responsive {
	min-height: 101px;
	border:none;
}
.table-striped>tbody>tr.task-item, .table>tbody>tr.task-item {
	border-left: 6px solid white;
}
.table-striped>tbody>tr.task-item.row-active, .table>tbody>tr.task-item.row-active {
	background-color: #F9F9F9;
	border-left: 6px solid #055D92;
}
.table-striped>tbody>tr.row-complete, .table>tbody>tr.row-complete {
	text-decoration: line-through;
	background-color: #E6E6E6;
	color: #7e7e7e;
}
.row-complete span.task-selectable.task-title {
	color: #7e7e7e;
	opacity: .6;
}
 .fade-transition {
 	transition: opacity 1s ease;
 }
.fade-leave {
    opacity: 0;
 	-webkit-transition-delay: 1s; /* Safari */
 	transition-delay: 1s;
}
.task-selectable.task-title {font-size:1.1em;color: #042a4a;}
.task-selectable.task-title:hover {
	border-bottom: 1px dashed #427ef5;
	display: inline;
}
.tag-block {margin-top: 5px;margin-left:8px;font-size: .85em;}
div.tag-block > span.task-selectable {margin-right: 2px;}
span.project-link {
	font-size: .85em;
	color: #9E9E9E;
}
span.project-link:hover {
	cursor: pointer;
}

/* ------------------------------------------------------------------------------
 *
 *  # Helpers
 *
 * ---------------------------------------------------------------------------- */
.margin-left-45 {
	margin-left: 45px;
}

